courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2. Create an XSD file to validate the XML structure -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define the root element "courses" -->
    <xs:element name="courses">
        <xs:complexType>
            <xs:sequence>
                <!-- Define the "course" element that can repeat multiple times -->
                <xs:element name="course" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Define the elements inside each course -->
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="instructor" type="xs:string"/>
                            <xs:element name="price" type="xs:integer"/> <!-- Price is a number -->
                            <xs:element name="ratings" type="xs:decimal"/> <!-- Decimal for stuff like 4.5 -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
